<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6 mt-5">
			<div class="card">
				<div class="card-header text-center">
					<h4>Đặt lại mật khẩu</h4>
				</div>
				<div class="card-body">
					<form ng-submit="resetPassword()">
						<div class="form-group">
							<label for="password">New Password:</label>
							<input type="password" class="form-control" id="password" ng-model="newPassword" required />
							<small class="text-danger" ng-if="errorMessages.newPassword">{{ errorMessages.newPassword }}</small>
						</div>
						<div class="form-group">
							<label for="confirmPassword">Confirm New Password:</label>
							<input
								type="password"
								class="form-control"
								id="confirmPassword"
								ng-model="confirmPassword"
								required
							/>
							<small class="text-danger" ng-if="errorMessages.confirmPassword"
								>{{ errorMessages.confirmPassword }}</small
							>
						</div>
						<button type="submit" class="btn btn-primary">Reset Password</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
